.list-group-item {
    min-height: 60px;
    margin: 20px 0 0 0;
    position: relative;
    overflow: hidden;
}

.mb-1 {
    width: 80%;
    overflow: hidden;
}

.delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.done {
    opacity: 0.5;
    background: #41ea1a;
}

